#container {
    background-color:plum;
    max-width: 1024px;
    margin: auto;
    padding: 20px;
}

.header {
    background-color: antiquewhite;
    display: flex;
    padding: 20px;
}

.contentContainer {
    background-color:plum;
    max-width: 1024px;
    margin: auto;
    padding: 20px 20px;
    padding-top: 0%;
}

#logo {
    margin: auto;
}

p {
    text-align: center;
}

.contentContainer {
    width: 100%;
    display: flex;
}

.menu {
    background-color: #333;
    width: 20%;
    padding:80px 20px;
    text-align: center;
}

.menu a {
    color: #f2f2f2;
    font-size: 200%;
    padding: 10px 12px;
    text-decoration: none;
}

.menu a:hover {
    background-color: antiquewhite;
    color: black;
    text-decoration: underline;
}

.content {
    flex-wrap: wrap;
}

.box {
    width: 100%;
    display: flex;
    margin-left: 20%;
    margin-top: 0%;
}

#box1 {
    width: 60%;
    padding: 30% 100%;
    border: 3px gray solid;
}

#box2 {
    width: 38%;
    border: 3px gray solid;
    padding: 30% 89%;
    justify-content: space-around;
    margin-left: 20%;
}

.footer {
    width: 446%;
    display: flex;
    margin-top: 20%;
    margin-left: 20%;
    background-color: #333;
}

.col {
    text-align: center;
    width: 20%;
    padding: 5%;
    color: white;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {

    .menu {
        font-size: 70%;
    }

    .box {
        width: 87%;
        flex-wrap: wrap;
    }
    
    .footer {
        width: 207%;
        font-size: 72%;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 1024px) {
    
    .contentContainer {
        width: 90.6%;
    }
}