body {
    margin: 0;
}

#container {
    position: relative;
    padding: 20px 130px;
}

#trbgimg {
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: -1; /*img to behind*/
}

.header {
    display: flex;
    justify-content: space-between;
}

#logo {
    display: flex;
    align-items: center;
    /*vertical*/
    margin-top: 20px;
}

h1 {
    margin-left: 10px;
    text-align: center;
    /*horizontal*/
    margin-bottom: 1%;
    font-size: 170%;
    color: #484848;
}

.topnav {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
}

.topnav a {
    padding: 8px 12px;
    text-decoration: none;
    color: #FFFFFF;
}
