body {
    max-width: 1400px;
    margin: auto;
}

.container {
    position: relative;
}

.loop-up {
    position: fixed;
    right: 0%;
    bottom: 1%;
    z-index: 1;
    transform: rotate(270deg);
}

/* Header */
#header {
    background-image: url(../images/1backgroundimg.png);
    background-size: cover;
}

.box1 {
    display: flex;
    justify-content: space-between;
    background-color: #FED4D5;
    padding: 10px;
}

#logo {
    margin: 0px 50px;
    display: flex;
    align-items: center;
}

#logo h1 {
    width: 150px;
    padding-left: 15px;
    font-size: 30px;
}

#logo a {
    text-decoration: none;
}

.topnav {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 100px;
}

.topnav a {
    color: #000000;
    padding: 20px 30px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #EECEE6;
    color: black;
}

.contact-btn {
    width: 130px;
    margin-left: 19%;
    border: 1px #C07778 solid;
    border-radius: 10px;
    padding: 15px;
    font-weight: bold;
    text-align: center;
}

.topnav .contact-btn a {
    color: #000000;
    padding: 16px 49px;
}

.topnav .contact-btn:hover {
    background-color: #EECEE6;
}

.topnav .icon {
    display: none;
}

.overlay {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    right: 0;
    background-color: rgba(238, 206, 230, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    font-size: 36px;
    color: #C07778;
    display: block;
    transition: 0.3s;
    text-decoration: none;
    z-index: 1;
}

.overlay a:hover,
.overlay a:focus {
    color: #000000;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

h1 {
    color: #C07778;
}

h3 {
    color: #B17375;
}

.box2 {
    padding: 150px;
}

.box2 .title {
    background-color: #EECEE646;
    padding: 50px;
    text-align: center;
}

#header .box2 h1 {
    font-size: 450%;
    margin: 20px;
}

#header .box2 h3 {
    color: #B17375;
}

.box2 button {
    width: 120px;
    margin: 50px 0px 10px 0px;
    font-size: 70%;
    background-color: #CE5959;
}

.box2 button a {
    color: #FFFFFF;
    padding: 20px 0.8px;
    text-decoration: none;
}

.box2 button:hover {
    width: 125px;
}

/* About */
#about {
    display: flex;
    align-items: center;
    background-color: #FED4D5;
}

.box3 {
    margin: 150px;
    margin-right: 0%;
    width: 30%;
}

#box-img2 img {
    border-radius: 25px;
}

.box4 {
    margin-left: 120px;
}

h2 {
    color: #BC4545;
    font-size: 300%;
    margin-top: 20px;
}

h3 {
    color: #B17375;
    font-weight: 500;
}

h4 {
    color: #CE5959;
    margin-top: 5%;
    font-weight: 500;
    font-size: 200%;
}

p {
    color: #CE5959;
    margin-top: -5%;
}

button {
    width: 110px;
    background-color: #FFFFFF;
    margin-top: 10%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 3px 3px rgba(81, 81, 249, 0.053);
    border: none;
}

button a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    padding: 20px 15px;
}

button:hover {
    background-color: #EECEE6;
}

/* My Works */
#myworks {
    background-image: url("../images/2backgroundimg.png");
    background-size: cover;
}

.box5 {
    display: flex;
    justify-content: space-between;
}

.content2 {
    margin: 120px 150px;
    margin-bottom: 0px;
}

.box5 .contact-btn {
    margin-top: 190px;
    margin-right: 150px;
    height: 20px;
}

.box5 .contact-btn a {
    color: #000000;
    padding: 15px 49px;
    text-decoration: none;
}

.box6 {
    padding-bottom: 130px;
    z-index: -1;
}

.week {
    display: flex;
}

.b-w {
    width: 34%;
    border: 3px #EECEE6 solid;
    border-left: none;
    padding: 5px;
}

.b-w-button {
    position: relative;
    margin: 10px;
}

.b-w-img,
.b-w-img1,
.b-w-img2 {
    text-align: center;
}

.b-w-content,
.b-w-content1 {
    position: absolute;
    left: 53px;
    bottom: 40px;
}

.b-w-content h4,
.b-w-content1 h4 {
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 25px;
    padding: 10px;
    font-size: 15px;
    color: #BC4545;
}

.b-w-content h3,
.b-w-content1 h3 {
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 0;
}

.b-w-content h4 {
    width: 50px;
}

.b-w-content1 h4 {
    width: 90px;
}

/* My Favourite */
#myfavourite {
    background-color: #FED4D5;
}

.box7 {
    text-align: center;
    padding-top: 10px;
}

.box8 {
    padding-bottom: 120px;
}

.box8 h2 {
    margin: 70px 80px;
    margin-bottom: 40px;
    padding-top: 60px;
    padding-left: 20px;
    border-top: 1px #000000 solid;
    color: #C07778;
}

.box9 {
    display: flex;
    justify-content: center;
}

.content3 {
    padding: 30px;
}

.content3 a {
    text-decoration: none;
}

.content3 a h4:hover {
    text-decoration: underline;
}

.b-c-img img {
    border-radius: 5px;
}

.content3 h3 {
    color: #CE5959;
    font-weight: bold;
    padding: 20px 0px;
}

.content3 p {
    margin-top: 30px;
}

.name {
    line-height: 30%;
}

.name h4 {
    color: #C07778;
}

.more-btn {
    text-align: center;
}

.more-btn button {
    margin: 20px;
    width: 150px;
    font-size: 100%;
}

/* Contact */
.box10 {
    display: flex;
    align-items: center;
}

.b-contact {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 61%;
}

form {
    background: #EECEE6;
    border-radius: 6px;
    margin-left: 90px;
    padding: 20px 30px;
}

form h3 {
    color: #C07778;
    font-weight: bold;
}

form .bemail input,
.bmessage textarea {
    width: 94%;
    padding: 10px;
}

form .bsubject select {
    width: 99.5%;
    padding: 10px;
}

form .b-btn {
    text-align: right;
    margin: 3px;
}

form .b-btn input {
    width: 110px;
    background-color: #CE5959;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    color: #FFFFFF;
}

.content4 {
    margin: 8%;
}

.content4 p {
    color: #000000;
}

.box11 {
    margin-top: 10%;
}

.content5 {
    display: flex;
    align-items: center;
    margin-top: 5%;
}

.content5 p {
    width: 100%;
    margin-top: 5px;
}

.c5-img {
    width: 10%;
    margin-right: 3%;
}

/* Footer */
#footer {
    background-color: #FED4D5;
}

.box12 {
    display: flex;
    justify-content: space-between;
    padding: 50px 20px;
    padding-bottom: 0%;
}

.box12 a {
    color: #000000;
    text-decoration: none;
}

.b-f1 h1 {
    color: #C07778;
}

.f-myworks-menu h3 {
    margin-top: 18px;
}

.menu,
.f-myworks-menu1 {
    display: flex;
    padding-bottom: 50px;
}

.menu,
.f-myworks-menu2 {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.f-contact {
    padding-top: 20px;
    background-color: #FED4D5;
    z-index: 1;
}

.box13 {
    display: flex;
    width: 97%;
    margin: auto;
    border: 1px #3A3C56 solid;
    border-left: none;
    border-right: none;
}

#copyright {
    background-color: #FED4D5;
    width: 100%;
    padding: 3%;
    z-index: 1;
}

#copyright p {
    color: #957C7D;
    margin: 5px;
    text-align: center;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (1198px wide or less) */
@media screen and (max-width: 1198px) {
    .box1 {
        background-color: #FED4D500;
    }

    .loop-up {
        right: 3%;
    }
    

    #logo {
        margin: 30px 50px;
    }

    .topnav {
        overflow: hidden;
    }

    .topnav a {
        display: none;
    }

    .topnav a:not(:first-child) {
        /*expect for the first-child*/
        display: none;
    }

    .topnav .icon {
        height: 7%;
        border: 1px #c07778 solid;
        border-radius: 15px;
        font-size: 200%;
    }

    .topnav a.icon {
        /*float: right; /*will show the icon that i choose when the screen was 600px because the .topnav .icon is writed display none*/
        display: block;
        /*why will come out beause this display: block*/
        position: absolute;
        height: 40px;
        right: 5%;
    }

    .topnav.responsive a {
        display: block;
    }

    #myTopnav .contact-btn {
        border: none;
    }

    #myTopnav .contact-btn:hover {
        background-color: white;
    }

    .loop-up {
        width: 5%;
        top: 90%;
    }

    .box2 {
        padding: 60px;
        padding-bottom: 100px;
    }

    .box3 {
        margin: 150px 60px;
        margin-right: 0%;
        width: 45%;
    }

    #box-img2 img {
        border-radius: 25px;
    }

    .box4 {
        margin-right: 60px;
    }

    .box5 .contact-btn {
        margin-right: 100px;
    }

    .box8 h2 {
        margin-left: 30px;
    }

    form .bsubject select {
        width: 100%;
    }
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (1100px wide or less) */
@media screen and (max-width: 1100px) {
    .topnav a.icon {
        margin-right: 1.5%;
    }

    .box3 #box-img2 {
        width: 120%;
    }

    .box4 {
        margin-left: 200px;
    }

    .content2 {
        margin: 120px 30px;
        margin-bottom: 0px;
    }

    .box5 .contact-btn {
        margin-right: 50px;
    }

    .b-w {
        width: 350px;
        padding: 10px;
    }

    .b-w-button {
        margin: 0px;
    }

    .b-w-content,
    .b-w-content1 {
        position: absolute;
        left: 30px;
        bottom: 10px;
    }

    .box9 {
        flex-direction: column;
        align-items: center;
    }

    .box10 {
        display: flex;
        flex-direction: column;
    }

    form {
        margin-left: 0%;
    }

    form .bsubject select {
        width: 98%;
    }

    form .b-btn {
        margin-right: 11px;
    }

    .box12 {
        padding: 10px;
        padding-bottom: 0%;
    }

    #copyright {
        padding: 20px;
    }
}



/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (950px wide or less) */
@media screen and (max-width: 950px) {
    .loop-up {
        margin-right: 6px;
    }

    .box12 {
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
    }

    .b-f1 {
        background-color: #FED4D5;
        z-index: 1;
    }

    .b-f1 h1 {
        margin-top: 10px;
        padding: 20px 20px;
    }

    .f-myworks {
        background-color: #FED4D5;
        z-index: 1;
    }

    .menu {
        background-color: #FED4D5;
        padding-right: 0%;
        z-index: 1;
    }

    .f-myworks-menu1 {
        display: flex;
        flex-direction: column;
    }
    
    .f-myworks-menu2 {
        padding: 0%;
    }

    .f-contact {
        padding-top: 0px;
        padding-bottom: 50px;
    }

    #copyright {
        padding: 30px;
    }
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (900px wide or less) */
@media screen and (max-width: 900px) {
    #about {
        display: flex;
        flex-direction: column;
    }

    .loop-up {
        right: 5%;
    }

    .box3 {
        margin: 150px;
        margin-right: 30%;
        margin-bottom: 5%;
        width: 50%;
    }

    .box4 {
        align-items: center;
        margin-left: 5%;
        margin-bottom: 15%;
    }

    .box5 .contact-btn {
        margin-right: 50px;
    }

    .b-w-content1 h4 {
        width: 80px;
    }

    .b-w-content h4,
    .b-w-content1 h4 {
        padding: 5px;
        font-size: 12px;
    }

    .content4 {
        width: 60%;
    }

    form .bsubject select {
        width: 98.8%;
    }
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (800px wide or less) */
@media screen and (max-width: 800px) {
    .topnav a.icon {
        margin-right: 3%;
    }

    .loop-up {
        right: 5%;
    }

    #about {
        display: flex;
        flex-direction: column;
    }

    .box3 {
        margin: 120px;
        margin-right: 35%;
        margin-bottom: 10%;
        width: 65%;
    }

    .box5 .contact-btn {
        margin-right: 50px;
    }

    .b-w-content1 h4 {
        width: 65px;
    }

    .b-w-content h4,
    .b-w-content1 h4 {
        padding: 5px;
        font-size: 10px;
    }

    .b-w-content h3,
    .b-w-content1 h3 {
        font-size: 15px;
    }

    .box8 h2 {
        margin-right: 55px;
    }

    .content3 {
        padding: 30px 0px;
    }

    .b-contact {
        width: 85%;
    }

    form {
        margin-top: 60px;
    }

    form .bsubject select {
        width: 97.9%;
    }

    form .b-btn {
        margin-right: 15px;
    }

    .content4 {
        width: 85%;
        text-align: left;
        margin-bottom: 100px;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (700px wide or less) */
@media screen and (max-width: 700px) {
    .topnav a.icon {
        margin-right: 4%;
    }

    .box5 .contact-btn {
        margin-right: 50px;
    }

    .box8 h2 {
        margin-right: 80px;
    }

    form .bsubject select {
        width: 98.8%;
    }
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (663px wide or less) */
@media screen and (max-width: 663px) {
    .topnav a.icon {
        margin-right: 5%;
    }

    .box4 {
        margin-left: 50px;
    }

    .b-w {
        width: 96.5%;
        padding: 10px;
    }

    .box8 h2 {
        margin: 50px;
    }
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
    .topnav a.icon {
        margin-right: 6%;
    }

    .loop-up {
        right: 6%;
    }

    #header .box2 h1 {
        font-size: 400%;
    }

    .box3 {
        margin: 150px;
        margin-right: 40%;
        margin-bottom: 10%;
        width: 60%;
    }

    .box4 {
        margin-left: 80px;
    }

    .week {
        display: flex;
        flex-direction: column;
    }

    .b-w {
        width: 95.8%;
        padding: 30px 10px;
    }

    .b-w-content,
    .b-w-content1 {
        position: absolute;
        left: 53px;
        bottom: 40px;
    }

    .b-w-content h4,
    .b-w-content1 h4 {
        background-color: #FFFFFF;
        text-align: center;
        border-radius: 25px;
        padding: 10px;
        font-size: 15px;
        color: #BC4545;
    }

    .b-w-content h3,
    .b-w-content1 h3 {
        color: #FFFFFF;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        margin-top: 0;
    }

    .b-w-content h4 {
        width: 50px;
    }

    .b-w-content1 h4 {
        width: 90px;
    }

    .b-w-img1 {
        width: 94.5%;
        margin-left: 2.5%;
    }

    .b-w-img2 {
        width: 98.5%;
        margin-left: 0.5%;
    }

    .box8 h2 {
        margin: 50px;
    }

    .name {
        margin: 0px;
    }

    .b-c-img {
        width: 50%;
        margin-bottom: 40px;
    }

    form .bsubject select {
        width: 99.5%;
    }

    form .b-btn {
        margin-right: 3px;
    }
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (550px wide or less) */
@media screen and (max-width: 550px) {
    #header .box2 h1 {
        font-size: 350%;
    }

    .loop-up {
        margin-right: 7px;
    }

    .box3 {
        margin: 120px;
        margin-right: 40%;
        margin-bottom: 10%;
        width: 60%;
    }

    .box4 {
        margin-left: 60px;
    }

    .box5 {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }

    .box5 .contact-btn {
        margin-top: 10px;
        margin-left: 31px;
        margin-bottom: 60px;
    }
    
    .box8 h2 {
        margin: 20px;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (500px wide or less) */
@media screen and (max-width: 500px) {
    .topnav a.icon {
        margin-right: 7%;
    }

    .loop-up {
        margin-right: 10px;
    }

    .overlay a {
        font-size: 20px;
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

    .box3 {
        margin: 120px;
        margin-right: 40%;
        margin-bottom: 10%;
        width: 60%;
    }

    .box4 {
        margin-left: 60px;
    }

    .b-w {
        width: 95.7%;
        padding: 20px 10px;
    }

    .b-c-img img {
        width: 190%;
        margin-left: 5%;
    }

    .name {
        margin-left: 3%;
    }
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (414px wide or less)*/
@media screen and (max-width: 414px) {
    .loop-up {
        top: 600px;
        right: -20%;
    }

    #logo {
        margin-left: 30px;
    }

    #logo h1 {
        padding-left: 5px;
    }

    #header {
        padding-bottom: 50px;
    }

    .box1 {
        padding: 0%;
    }

    .box2 {
        padding: 50px 30px;
    }

    .topnav .icon {
        height: 3.5%;
        font-size: 150%;
    }

    .topnav a.icon {
        height: 35px;
        margin-right: 10px;
    }

    .box3 {
        margin: 120px;
        margin-right: 50%;
        margin-bottom: 10%;
        width: 65%;
    }

    .box4 {
        margin-left: 10%;
        margin-bottom: 25%;
    }

    .box5 .content2 h3 {
        margin-top: 0%;
    }

    .b-w {
        width: 94.5%;
        padding: 20px 10px;
    }

    .box8 h2 {
        padding-left: 0px;
    }

    .content3 {
        padding: 30px 10px;
    }

    .b-contact {
        width: 85%;
    }

    form .bemail input,
    .bmessage textarea {
        width: 89%;
        padding: 10px;
    }

    form .bsubject select {
        width: 97%;
        padding: 10px;
    }

    .b-btn {
        width: 97%;
    }
}