body {
    max-width: 1400px;
    margin: auto;
    background-color: #FDF0E9;
}

/* Header */
#header {
    background-image: url(../images/1backgroundimg.jpg);
    background-size: cover;
}

.box1 {
    display: flex;
    justify-content: space-between;
    background-color: #C6DCE4;
}

#logo {
    margin: 0px 70px;
    display: flex;
    align-items: center;
    padding: 10px;
}

#logo h1 {
    color: #000000;
    padding-left: 20px;
    font-size: 200%;
}

#header .box2 h1 {
    color: #F2D1D1;
    margin: 20px 0px;
    font-size: 450%;
}

#header .box2 h3 {
    color: #DAEAF1;
}

.topnav {
    display: flex;
    align-items: center;
    width: 80%;
    margin-left: 5%;
}

.topnav a {
    color: #000000;
    text-decoration: none;
    padding: 20px 30px;
}

.topnav a:hover {
    background-color: #EF6D58;
    color: black;
    text-decoration: underline;
}

.contact-btn {
    margin-left: 23%;
    width: 150px;
    text-align: center;
    border: 1px #FFFFFF solid;
    padding: 15px;
    font-weight: bold;
    border-radius: 10px;
}

.topnav .contact-btn a:hover {
    background-color: #C6DCE4;
    color: black;
    padding: 10px;
    text-decoration: underline;
}

.topnav .icon {
    display: none;
}

.overlay {
    /*æ•´ä¸ªmenu*/
    height: 100%;
    /*å®ƒå‡ºæ¥çš„æ—¶å€™æ˜¯å¤šé•¿ æœ‰ç›–è¿‡å­—ä½“ è¿˜æ˜¯ç›–å®Œæ•´é¡µ*/
    width: 0;
    /*å®ƒæœ‰å¤šå®½*/
    position: fixed;
    /*ç»™ä»–æ­»åœ¨é‚£è¾¹*/
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    /*0.9 åŠé€æ˜Ž*/
    overflow-x: hidden;
    /*ä¸è¦å‡ºæ¥*/
    transition: 0.5s;
    /*animation //éœ€è¦å¤šä¹…çš„æ—¶é—´å±•çŽ°å‡ºæ¥*/
    z-index: 1;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
    z-index: 1;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.box2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box2 #title {
    width: 40%;
    background-color: #00000046;
    margin: 150px 50px;
    padding: 20px;
}

#header button {
    width: 140px;
    background-color: #EF6D58;
}

.box2 #title button a {
    color: #FFFFFF;
    text-decoration: none;
}

.box2 #title button {
    margin: 50px 0px 20px 0px;
}

#box-img1 {
    margin-right: 160px;
}

/* About */
#about {
    display: flex;
    margin: 120px 40px;
}

#content1 {
    width: 32%;
    margin-top: 50px;
    margin-left: 20%;
}

h2 {
    color: #5C2000;
    font-size: 300%;
    margin-top: 20px;
}

h3 {
    color: #EF6D58;
    font-weight: 500;
}

h4 {
    color: #5C2000;
    margin-top: 15%;
    font-weight: 500;
}

p {
    color: #806354;
}

button {
    width: 110px;
    background-color: #FFFFFF;
    margin-top: 20%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 3px 3px rgba(81, 81, 249, 0.053);
    font-weight: bold;
    border: none;
}

button a {
    text-decoration: none;
    color: #391400;
    font-weight: bold;
}

/* My Works */
#myworks {
    background-color: #28293E;
    padding-bottom: 10%;
}

.box3 {
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
    margin: 20px 90px;
}

.box4 {
    width: 50%;
}

.box4 h2 {
    color: #FFFFFF;
}

.box3 .contact-btn {
    height: 20px;
    margin-top: 70px;
    border: 1px #FFFFFF solid;
}

.box3 .contact-btn a {
    color: #FFFFFF;
    text-decoration: none;
}

.week {
    display: flex;
    padding: 20px 0px;
}

.b-w {
    width: 34%;
    border: 1px #6F6F6F solid;
    border-left: none;
    padding: 5px;
}

.b-w-button {
    position: relative;
    margin: 10px;
}

.b-w-img {
    text-align: center;
}

.b-w-content {
    position: absolute;
    left: 53px;
    bottom: 40px;
}

.b-w-content h4 {
    background-color: #FFFFFF;
    text-align: center;
    width: 50px;
    border-radius: 25px;
    font-size: 15px;
    padding: 10px;
}

.b-w-content h3 {
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 0;
}

.b-w-content a {
    text-decoration: none;
}

.b-w-content1 {
    position: absolute;
    left: 53px;
    bottom: 40px;
}

.b-w-content1 h4 {
    background-color: #FFFFFF;
    text-align: center;
    width: 90px;
    border-radius: 25px;
    font-size: 15px;
    padding: 10px;
}

.b-w-content1 h3 {
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 0;
}

.b-w-content1 a {
    text-decoration: none;
}

/* My Favourite */
#myfavourite {
    text-align: center;
    margin: 10% 0%;
}

.box7 {
    display: flex;
    justify-content: center;
    padding: 3%;
}

.content3 {
    width: 20%;
    height: 300px;
    padding: 30px;
    border: 1px solid #F3D1BF;
    box-shadow: 0px 32px 64px rgba(57, 20, 0, 0.04);
    border-radius: 0px 0px 6px 6px;
    text-align: left;
}

.content3:hover {
    background: #FFFFFF;
    height: 330px;
    font-size: larger;
}

.content3 h3 {
    color: #5C2000;
    font-weight: bold;
}

.content3 p {
    margin-top: 30px;
}

.id {
    display: flex;
    align-items: center;
    margin-top: 30%;
}

.picture {
    width: 30%;
}

.name {
    width: 70%;
    padding-left: 10%;
    line-height: 30%;
}

.box6 button {
    margin-top: 0%;
    width: 10%;
}

/* Contact */
#contact {
    background-color: #28293E;
}

.box8 {
    display: flex;
}

.b-contact {
    margin-top: 10%;
    width: 45%;
}

form {
    background: #FFFFFF;
    border-radius: 6px;
    margin-left: 50px;
    padding: 20px 30px;
}

form h3 {
    color: #5C2000;
    font-weight: bold;
}

form .bemail input, .bmessage textarea {
    width: 94%;
    padding: 10px;
}

form .bsubject select {
    width: 99%;
    padding: 10px;
}

form .b-btn {
    text-align: right;
}

form .b-btn input {
    width: 30%;
    background-color: #EF6D58;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    color: #FFFFFF;
}

.content4 {
    margin: 10%;
}

.content4 h2 {
    color: #FFFFFF;
}

.content4 p {
    color: #B2B2B9;
}

.box9 {
    margin-top: 10%;
}

.content5 {
    display: flex;
    align-items: center;
    margin-top: 5%;
}   

.content5 p {
    width: 102%;
    color: #FFFFFF;
}

.c5-img {
    width: 10%;
    margin-right: 5%;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (1145px wide or less) */
@media screen and (max-width: 1145px) {
    .box1 {
        background-color: #c6dce400;
    }

    #logo {
        margin: 30px 50px;
    }

    #logo h1 {
        color: #FFFFFF;
    }

    .box2 #title h1 {
        font-size: 50px;
    }

    .topnav a {
        text-align: left;
        display: none;
    }
    
    .topnav a:not(:first-child) {
        /*expect for the first-child*/
        display: none;
    }
    
    .topnav .icon {
        height: 7%;
        border: 1px #D8D8D8 solid;
        border-radius: 15px;
        font-size: 200%;
        color: #FFFFFF;
    }
    
    .topnav a.icon {
        /*float: right; /*will show the icon that i choose when the screen was 600px because the .topnav .icon is writed display none*/
        display: block;
        /*why will come out beause this display: block*/
        position: absolute;
        right: 5%;
        margin-right: 20px;
    }
    
    .topnav.responsive a {
        display: block;
        /*åƒä¸€ä¸ªä½ inlineåƒæ—è¾¹*/
    }
    
    .contact-btn {
        border: none;
    }
    
    .box3 {
        display: flex;
        flex-direction: column;
        margin: 0px 30px;
    }
    
    .box3 .contact-btn {
        margin-top: 0px;
        margin-bottom: 10%;
        margin-left: 0%;
    }

    .week {
        display: flex;
        flex-direction: column;
    }
    
    .b-w {
        width: 98.1%;
        padding: 10px;
    }
    
    .b-w-button {
        margin: 0px;
    }
 
    .b-w-content {
        left: 100px;
    }
    
    .b-w-content h4 {
        width: 90px;
        font-size: 20px;
    }
    
    .b-w-content h3 {
        font-size: 50px;
    }
    
    .b-w-content1 {
        left: 100px;
    }
    
    .b-w-content1 h4 {
        width: 120px;
        font-size: 20px;
    }
    
    .b-w-content1 h3 {
        font-size: 50px;
    }
}



/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (1100px wide or less) */
@media screen and (max-width: 1100px) {
    #logo {
        width: 280px;
        height: 20%;
    }

    .box2 {
        display: flex;
        flex-direction: column-reverse;
    }

    .box2 #title {
        width: 93.1%;
        margin: 0px;
        text-align: center;
    }
}



/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (800px wide or less) */
@media screen and (max-width: 800px) {
    #logo {
        width: 300px;
        height: 20%;
    }

    .box2 #box-img1 {
        margin-left: 40px;
    }

    #about {
        display: flex;
        flex-direction: column;
    }

    #box-img2 {
        width: 85%;
    }
    
    #content1 {
        width: 80%;
        margin-top: 0%;
    }

    .box7 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content3 {
        width: 70%;
        height: 100%;
        padding: 50px;
    }

    .content3:hover {
        height: 120%;
    }

    .box6 button {
        width: 30%;
    }
}



/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
    #logo {
        width: 80%;
        height: 20%;
    }

    .box2 #title {
        width: 93%;
    }
}



/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (500px wide or less) */
@media screen and (max-width: 500px) {
    #logo {
        width: 80px;
    }

    .box2 #title {
        text-align: left;
        width: 91.5%;
    }

    #box-img1 {
        width: 70%;
        padding-left: 10%;
    }

    #content1 {
        margin-left: 15%;
    }

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}



/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (414px wide or less)*/
@media screen and (max-width: 414px) {
    .topnav .icon {
        height: 5%;
    }

    #box-img1 {
        width: 70%;
        margin-right: 130px;
    }
    
    #content1 {
        margin-left: 5%;
    }
}